header{
    background-color: #0f0f0f;
    color:#fefefe;
    padding: 50px;
    font-size: 20pt;
    padding: 20px;
    
    a{
        text-decoration: none;
        color: #fefefe;
    }
}

body{
    background-color: #fffafa;
    color: #0f0f0f;
    font-family:'Yanone Kaffeesatz', sans-serif;
    margin: 0;
}

main{
    padding: 20px;
    margin: 100px;    
}
footer{
    background-color: #5b5b5b;
    color:#ffffff;
    padding: 50px;
    font-size: 15pt; 
    font-style: italic; 
    text-align: right;
    padding-top: 30px;
    padding-bottom: 30px;
}