header{
    background-color: #121212;
    color:#efefef;
    padding: 50px;
    font-size: 20pt;

}
body{
    background-color: #efefef;
    color: #121212;
    font-family: Courier;
    margin: 0;
    

}
main{
    width: 100vw; /* ширина равная ширине экрана */
    overflow: hidden; /* отключаем прокрутку */
    padding: 0;
     margin: 0;
    
    
    h1{
        line-height: 1.5;
        text-align: center;
        margin: 10px;/* верхнее, правое, нижнее, левое */
        font-size: 30px;
        
    }

    p{
        line-height: 1.5;
        text-indent: 2cm; /* отступ */
        margin: 0px;
        font-size: 20px;
        text-align: justify; 
        padding: 10px;
        
    }
    .nacalo{
        line-height: 1.5;
        text-indent: 2cm; /* отступ */
        margin: 10px;
        font-size: 20px;
        padding: 20px;
    }
    .levo{
        text-align: left;
        width: 100%; /* растягиваем по ширине */
        line-height: 1.5;
        text-indent: 2cm; /* отступ */
        margin: 10px;
        font-size: 20px;
        padding: 40px;
    }

    .teni{
        text-shadow: 4px 3px 6px rgba(92, 92, 92, 0.5)
    }
}



footer{
    background-color: #121212;
    color:#ffffff;
    padding: 50px;
    font-size: 15pt; 
    font-style: italic; 
    text-align: right

}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 15pt;
}


