header{
    background-color: #121212;
    color:#fefefe;
    padding: 50px;
    font-size: 20pt;
    padding: 20px;
    

}
body{
    background-color: #fefefe;
    color: #121212;
    font-family: Courier;
    margin: 0;
    

}
main{
    /* width: 100vw; ширина равная ширине экрана */
    overflow: hidden; /* отключаем прокрутку */
    padding: 20px;
    margin: 0;
    
     
    h1{
        text-align: center;
        /* margin:0; верхнее, правое, нижнее, левое */
        font-size: 25px;
        /* margin-bottom: 4px; */
        margin-bottom: 10px; 
    
    }

    p{
        /* line-height: 1.5; */
        text-indent: 2cm;  /* отступ */
        /* margin: 0px; */
        font-size: 20px;
        text-align: justify; 
        padding: 70px;
        margin-top: 10px;
        
        
    }
    .nacalo{
        /* line-height: 1.5; */
        /* text-indent: 2cm; отступ */
        margin: 10px;
        font-size: 20px;
        padding: 70px;
    }
    .levo{
        text-align:justify;
        /* width: 100%; растягиваем по ширине */
        margin: 10px;
        font-size: 20px;
        padding: 70px;
    }

    .teni{
        text-shadow: 4px 3px 6px rgba(166, 166, 166, 0.5)
    }

}



footer{
    background-color: #121212;
    color:#ffffff;
    padding: 50px;
    font-size: 15pt; 
    font-style: italic; 
    text-align: right

}

a {
    text-decoration: none;
    font-style: italic;
    font-size: 15pt;
    padding: 3px;
   
}


