header{
    background-color: #121212;
    ;color:#efefef;
    padding: 50px;
    font-size: 20pt;

}
body{
    background-color: #efefef;
    color: #121212;
    margin: 0px;
    font-family: Courier;

}
main{
    
    h1{
        line-height: 1.5;
        text-align: justify;
        margin: 20px 30px 10px 30px;
        font-size: 40px;
    }
    
    h2{
        line-height: 1.5;
        text-align: justify;
        margin: 10px 20px 5px 20px;  /* верхнее, правое, нижнее, левое */
    }

    p{
        line-height: 1.5;
        text-indent: 2cm; /* отступ */
        margin: 0;
        font-size: 20px;
    }
    .nacalo{
        line-height: 1.5;
        text-indent: 2cm; /* отступ */
        margin: 10px;
        font-size: 20px;
        padding: 20px;
    }
}



footer{
    background-color: #121212;
    color:#ffffff;
    padding: 50px;
    font-size: 15pt; 
    font-style: italic; 
    text-align: right

}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 15pt;
}


