header{
    background-color: #420C14;color:#ffffff;
    padding: 50px;
    font-size: 20pt;

}
body{
    background-color: #fefff8;
    color: #420C14;
    font-family: Courier;
    margin: 0px;
}
main{
    li{
        color:#9b002c;
        font-style: italic;
        font-weight: bold;
        
    }
    h2{
        color: #22060B;
        margin: 20px;
        font-size: 20px;
    }
    h1{
        color: #22060B;
        margin: 30px;
        font-size: 35px;
    }
}

footer{
    background-color: #420C14;
    color:#ffffff;
    padding: 50px;
    font-size: 15pt; 
    font-style: italic; 
    text-align: right

}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 15pt;
    color: rgb(16, 112, 112);
    transition: 1s;
}



a:link{
    color:rgb(243, 103, 103);
}
a:visited{
    color:rgb(91, 90, 90);
}
a:hover{
    color: rgb(142, 11, 11);
    text-decoration:solid;
}

a:active{
    color:#fefff8;
    background-color:#420C14;
    color: #ffffff;
    padding: 3px;
    border-radius: 5px;
}

